{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<article class="col-12 col-md-9">
  <div>
    <h1>Привет, я Автор данного твоерния. Зовут меня Антон.</h1>
  </div>
  <div>
    <p>
      Рад привествовать вас на моем сайте. Походив по сайту, вы можете познакомиться с моей работой, которую я выполнил благодара изучения курса
      на Yandex Practicum "Python-разработчик". <br>Уверен что в моей работе много недочетов, и возможно даже критических ошибок. Я буду рад если вы найдете их 
      и укажите мне на них. 
    </p>
    <p><b>Это мой первый проект, и прошу не судить меня строго.</b></p>
    <p>
      Ранее, я даже не был знаком с таких интерпритатором как Python, и фреймворком Django. Но спустя обучению 4 месяцев на курсе, 
      я смог сделать свой первый проект. <br>Было очень не просто, прошло много часов без сна, но, я смог довести этот проект до рабочего состояния.<br>
      И конечно я хотел бы поблагодарить нашего куратора, наших наставников, сокурсников нашей когорты и конечно 
      приставленного за мной Ревьюера, без помощи и поддержки этих людей, моих бессонных ночей было бы еще больше. 
    </p>
  </div>
<article>
{% endblock %}