{% load thumbnail %}
<article class="col-12 col-md-12">
  <div>
  <ul>
    <li>Автор: 
      <a href="{% url 'posts:profile' post.author.username %}"> 
        {{ post.author.get_full_name }}
      </a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <a href="{% url 'posts:profile' post.author.username %}" class="gallery">
    {% thumbnail post.image "720x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
  </a>
  <p>{{ post.text|truncatewords:30 }}</p>
  <a href="{% url 'posts:post_detail' post.pk %}">Подробнее</a>
  </div>
</article>