{% extends "base.html" %}

{% block title %}Посты пользователей на которых вы подписаны{% endblock title %}
{% block content %}
  <div class="container py-5 mb-5">
    {% include 'posts/includes/switcher.html' with follower=True %}
      <h1> Посты пользователей на которых вы подписаны </h1>
    <article>
      {% for post in page_obj %}
        {% include 'posts/includes/post_list.html' %}<br>
          {% if post.group.slug is not None %}
            <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
          {% endif %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    </article>
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock content %}